.ant-image-mask-info {
  font-size: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.anticon-eye {
  font-size: 35px !important;
}

.certificate_wrap > .slick-slider > .slick-list > .slick-track > .slick-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.certificate_wrap > .slick-slider > .slick-list {
  padding: 20px 0 !important;
}

.certificate_wrap > .slick-slider > .slick-arrow {
  top: -10px !important;
}

.certificate_wrap > .slick-slider > .slick-prev {
  left: 92% !important;
}
.certificate_wrap > .slick-slider > .slick-next {
  right: 25px !important;
}

.certificate_wrap > .slick-slider > .slick-prev::before,
.certificate_wrap > .slick-slider > .slick-next::before {
  color: #df2027 !important;
  font-size: 35px !important;
}

.certificate_wrap
  > .slick-slider
  > .slick-dots
  > .slick-active
  > button::before {
  color: #df2027 !important;
  font-size: 20px !important;
}

.certificate_wrap > .slick-slider > .slick-dots > li > button::before {
  font-size: 16px !important;
  color: #df2027 !important;
}

.certificate_card_box {
  margin: 0 auto !important;
  width: 90% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.certificate_card_wrapps{
  margin: 0 !important;
}


@media only screen and (max-width: 1235px) {
  .certificate_wrap > .slick-slider > .slick-prev {
    left: 88% !important;
  }
  .certificate_wrap > .slick-slider > .slick-next {
    right: 70px !important;
  }
}

@media only screen and (max-width: 1100px) {
  .certificate_wrap > .slick-slider > .slick-prev {
    left: 90% !important;
  }
  .certificate_wrap > .slick-slider > .slick-next {
    right: 25px !important;
  }
}

@media only screen and (max-width: 991px) {
  .certificate_wrap > .slick-slider > .slick-prev {
    left: 83% !important;
  }
  .certificate_wrap > .slick-slider > .slick-next {
    right: 54px !important;
  }

  .certificate_wrap > .slick-slider > .slick-arrow {
    top: -20px !important;
  }
}

@media only screen and (max-width: 768px) {
  .certificate_wrap > .slick-slider > .slick-arrow {
    display: none !important;
  }
}
