.Wrapper {
  background-image: url("./../../../assets/compaines/juvelook.jpg");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50dvh;
  margin-top: 145px;
  overflow-y: hidden;
  position: relative;
}

.Wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.Container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 10px; */
}

.Wrapper {
  display: flex;
  justify-content: space-between;
}
.Wrapper img {
  width: 50%;
}
.about {
  width: 45%;
}

@media only screen and (max-width: 1250px) {
  .Wrapper {
    /* padding: 0 20px; */
  }
}

@media only screen and (max-width: 991px) {
  .Wrapper {
    background-image: url("./../../../assets/compaines/juvelook.jpg");
    background-position: center right;
    background-size: cover;
    width: 100%;
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Container {
    width: 90%;
  }
}

@media only screen and (max-width: 882px) {
  .Container {
    width: 90%;
  }
}

@media only screen and (max-width: 578px) {
  .Wrapper {
    overflow-y: hidden;
    background-image: url("./../../../assets/compaines/juvelook.jpg");
    background-position: center right;
    background-size: cover;
    width: 100%;
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 425px) {
  .Wrapper {
    overflow-y: hidden;
    background-image: url("./../../../assets/compaines/juvelook.jpg");
    background-position: center right;
    width: 100%;
    height: 30dvh;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 375px) {
  .Wrapper {
    overflow-y: hidden;
    background-image: url("./../../../assets/compaines/juvelook.jpg");
    background-position: center right;
    /* background-position-x: -230px; */
    width: 100%;
    margin-top: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 320px) {
  .Wrapper {
    overflow-y: hidden;
    background-image: url("./../../../assets/compaines/juvelook.jpg");
    background-position: right;
    background-position-x: -380px;
    width: 100%;
    margin-top: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
