.Container{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
@media only screen and (max-width:882px) {
    .Container{
        width: 90%;
    }
}
.box{
    padding: 40px;
    background: #e9e9e9;
}

.box ul li{ 
    list-style-type: none;
    display: flex;
    align-items: top;
    margin-left: 5px;
    margin-bottom: 24px;
    color: #000;
/* Text/Paragraph medium */
/* font-family: Okta Neue; */
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}
.box ul {
    margin: 0;
    padding: 0;
}
.box ul li::before{ 
    content: "\02";
    color: transparent;
    font-weight: bold;
    margin: 0;
    padding: 0;
}