.Wrapper {
  background-color: white !important;
  padding: 50px 0;
}
.Container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.Row {
  margin: 0 !important;
}
.histolab_card {
  width: 100%;
}
.box h2 {
  text-align: center;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.slider_card_box {
  margin-bottom: 30px;
}

@media only screen and (max-width: 991px) {
  .Col {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 882px) {
  .Container {
    width: 90%;
  }
  .box h2 {
    text-align: center;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
}
