.hero_video {
  height: 69.3vh;
  background: #f8f8f8;
}

.video_wrapp {
  height: 100%;
  overflow-y: hidden;
  position: relative;
}
.video_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 62%;
  padding: 0 30px 0 50px;
  height: 100%;
  background-color: rgba(212, 211, 211, 0.5);
  backdrop-filter: blur(5px);
  clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
}

.iframe_wrapp {
  height: 100%;
  overflow-y: hidden;
}

.iframe_wrapp > iframe {
  width: 50%;
  float: right;
}

.video_text,
.mobile_video_text {
  max-width: 700px;
  color: #2e2e2e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.video_title,
.mobile_video_title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 10px;
}

.mobile_video_wrapp {
  display: none;
}

@media only screen and (max-width: 1178px) {
  .video_content {
    padding: 0 30px 0 20px;
  }

  .video_wrapp {
    display: none;
  }

  .mobile_video_wrapp {
    display: block;
    padding: 20px;
  }

  .video_text,
  .mobile_video_text {
    max-width: 100%;
  }

  /* .mobile_iframe_wrapp > iframe{
    height: 100%;
  } */
}

/* @media only screen and (max-width: 1150px) {
  .video_wrapp {
    display: none;
  }

  .mobile_video_wrapp {
    display: block;
    padding: 20px;
  }
} */

@media only screen and (max-width: 991px) {
  .hero_video {
    height: 100%;
    background: #f8f8f8;
  }

  .mobile_video_wrapp {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 454px) {
  .mobile_video_title {
    font-size: 22px;
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .mobile_video_title {
    font-size: 21px;
    text-align: center;
  }

  .mobile_video_text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 375px) {
  .mobile_video_title {
    font-size: 21px;
    text-align: center;
  }

  .mobile_iframe_wrapp {
    margin-top: 20px;
  }
}
