.count_row_wrap {
  width: 100%;
}
.benefits_hero_count_row {
  margin: 0 !important;
  border-radius: 10px;
  padding: 0 20px !important;
}

.benefits_hero_count_col {
  padding: 0 8px !important;
}

.statistics {
  margin-top: 20px;
  width: 100%;
}
.count_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #242424;
  box-shadow: 5px 5px 10px rgba(170, 170, 170, 0.1);
  border-radius: 6px;
  padding: 40px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.count_wrap > h4 {
  margin: 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #03544c;
}
.count_wrap > span {
  margin: 7px 0 0 0;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #aaaaaa;
}

@media only screen and (max-width: 1090px) {
  .count_row_wrap {
    width: 100%;
  }
}

@media only screen and (max-width: 1078px) {
  .benefits_count_col {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 940px) {
  .count_row_wrap {
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .benefits_count_col {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 425px) {
}
