.home_our_cosmetics_section {
  padding: 20px 0 50px 0;
  background: #f8f8f8;
}
.home_cosmetics_title {
  display: inline;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  line-height: 150%;
  margin-bottom: 35px;
}

.title_box {
  display: flex;
  align-content: center;
  justify-content: center;
}

.home_cosmetics_row {
  margin: 0 !important;
}

@media only screen and (max-width: 991px) {
  .home_cosmetics_title {
    display: block;
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 35px;
  }
}

@media only screen and (max-width: 768px) {
  .home_cosmetics_title {
    text-align: center;
    font-size: 35px;
  }
}

@media only screen and (max-width: 620px) {
  .home_cosmetics_title {
    font-size: 30px;
    text-align: center;
  }
  .title_box > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 425px) {
  .title_box > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_cosmetics_title {
    text-align: center;
    font-size: 25px;
  }
}
@media only screen and (max-width: 375px) {
  .home_cosmetics_title {
    text-align: center;
    font-size: 22px;
  }
}
