.ourcosmetics_slider_wrapp > .slick-slider > .slick-arrow {
  display: none !important;
}

.ourcosmetics_slider_wrapp > .slick-slider > .slick-list {
  padding: 20px 0 !important;
}

.ourcosmetics_slider_wrapp
  > .slick-slider
  > .slick-list
  > .slick-track
  > .slick-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.ourcosmetics_slider_wrapp
  > .slick-slider
  > .slick-dots
  > .slick-active
  > button::before {
  color: #df2027 !important;
  font-size: 20px !important;
}

.ourcosmetics_slider_wrapp > .slick-slider > .slick-dots > li > button::before {
  font-size: 16px !important;
  color: #df2027 !important;
}
