.Wrapper {
  background-image: url("./../../../assets/compaines/classys.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  width: 100%;
  height: 50dvh;
  margin-top: 145px;
  overflow-y: hidden;
  position: relative;
}

.Wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.Container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
@media only screen and (max-width: 882px) {
  .Container {
    width: 90%;
  }
}
.Wrapper {
  display: flex;
  justify-content: space-between;
}
.Wrapper img {
  width: 50%;
}
.about {
  width: 45%;
}

@media only screen and (max-width: 1250px) {
  .Wrapper {
    /* padding: 0 20px; */
  }
}

@media only screen and (max-width: 991px) {
  .Wrapper {
    background-image: url("./../../../assets/compaines/classys.jpg");
    background-position: center right;
    background-size: cover;
    width: 100%;
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 578px) {
  .Wrapper {
    overflow-y: hidden;
    background-image: url("./../../../assets/compaines/classys.jpg");
    background-position: center right;
    background-size: cover;
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 425px) {
  .Wrapper {
    overflow-y: hidden;
    background-image: url("./../../../assets/compaines/classys.jpg");
    background-position: right;
    background-size: 950px 250px;
    /* background-position-x: -700px; */
    width: 100%;
    margin-top: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media only screen and (max-width: 375px) {
  .Wrapper {
    overflow-y: hidden;
    background-image: url("./../../../assets/compaines/classys.jpg");
    background-position: right;
    /* background-position-x: -420px; */
    width: 100%;
    background-size: 850px 200px;
    margin-top: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 320px) {
  .Wrapper {
    overflow-y: hidden;
    background-image: url("./../../../assets/compaines/classys.jpg");
    background-position: right;
    background-size: 700px 180px;
    /* background-position-x: -470px; */
    width: 100%;
    margin-top: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
