.before_after_section {
  background: #e9e9e9;
  padding: 50px 0;
}

.before_after_item {
  position: relative;
}

.before_after_item > img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.before_btn {
  position: absolute;
  content: "";
  bottom: 50px;
  right: 50px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  background: #df2027;
  color: #fff;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.05);
}

.after_btn {
  position: absolute;
  content: "";
  bottom: 50px;
  left: 50px;
  background: #df2027;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.05);
}
.before_after_row {
  margin: 0 !important;
}

@media only screen and (max-width: 991px) {
  .before_after_col {
    margin-bottom: 20px;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 500px) {
  .after_btn,
  .before_btn {
    bottom: 20px;
    right: 10px;
  }
  .after_btn {
    left: auto;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
  }
}

/* @media only screen and (max-width:882px) {
    .Container{
        width: 90%;
    }
    .Row{
        margin: 0 !important;
    }
    .Col {
        padding: 0 !important;
        margin-bottom: 10px;
    }
    .Photos{
        width: 100%;
    }
    .Video{
        width:100%;
    }
    .Video iframe{
        height: 245px !important;
    }
    .Col img{
        border-radius: 12px;
        height: 230px;
    }
    .Wrapper{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
} */
