.card {
  border-radius: 20px;
  background: #fff;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.05);
  /* border: 1px solid #df2027; */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
}
.card_img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_img > section {
  width: 100% !important;
}

.card_img > section > div > img {
  width: 100%;
  aspect-ratio: 4 / 3;
}
.card_content {
  padding: 14px;
}

.card_titles {
  margin: 0;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
}

.card_text {
  color: #2e2e2e;
  font-family: Okta Neue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.card_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_btn > button {
  width: 48%;
  border: none;
  background: transparent;
  outline: none;
  padding: 15px 35px 15px 35px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}
.card_btn > button > a {
  text-decoration: none;
}

.card_btn > button:nth-child(1) > a {
  color: #df2027;
}
.card_btn > button:nth-child(2) > a {
  color: #fff;
}

.card_btn > button:nth-child(1) {
  border: 1px solid #df2027;
}

.card_btn > button:nth-child(2) {
  background-color: #df2027;
}

.time {
  color: #444;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

@media only screen and (max-width: 870px) {
  .card_btn > button {
    padding: 12px 20px 12px 20px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    box-shadow: none;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .card_btn > button {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .card_btn > button {
    font-size: 11px;
  }
}
