.content_box {
  position: absolute;
  bottom: 50px;
  left: 100px;
}

.slider_title {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.slider_text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.btn_group > button {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.btn_group > button > a {
  text-decoration: none;
}

.left_btn {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  padding: 15px 30px;
  margin-right: 20px;
}
.left_btn > a {
  color: #df2027;
}
.right_btn {
  background-color: #df2027;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  padding: 15px 30px;
}

.right_btn > a {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .slider_title,
  .slider_text {
    text-align: center;
  }

  .content_box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 13px;
  }
}

@media only screen and (max-width: 620px) {
  .slider_title,
  .slider_text {
    text-align: center;
  }

  .content_box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 15px;
  }

  .slider_title {
    font-size: 50px;
  }

  .slider_text {
    max-width: 400px;
    font-size: 14px;
    margin-bottom: 50px;
  }

  .btn_group > button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 425px) {
  .slider_title,
  .slider_text {
    text-align: center;
  }

  .slider_title {
    font-size: 40px;
  }

  .slider_text {
    max-width: 300px;
    font-size: 12px;
    margin-bottom: 50px;
  }

  .btn_group > button {
    font-size: 12px;
  }
}
@media only screen and (max-width: 375px) {
  .slider_title,
  .slider_text {
    text-align: center;
  }

  .slider_title {
    font-size: 40px;
  }

  .slider_text {
    max-width: 300px;
    font-size: 12px;
    margin-bottom: 50px;
  }

  .btn_group > button {
    font-size: 11px;
    padding: 15px;
  }
}
