.ultrafarm_section {
  padding: 50px 0;
  background: #f8f8f8;
}

.Container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.Col_Right h2 {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.Col_Right p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.Rows {
  margin: 0 !important;
}

@media only screen and (max-width: 991px) {
  .Container {
    width: 90%;
  }

  .ultrafarm_col {
    padding: 0 !important;
  }

  .Col img {
    width: 100%;
  }

  .Col_Right h2 {
    font-size: 21px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 882px) {
  .Container {
    width: 90%;
  }

  .Col img {
    width: 100%;
  }

  .Col_Right h2 {
    font-size: 21px;
    font-weight: 600;
  }
}
