.slider_wrapp > .slick-slider >.slick-list > .slick-track > .slick-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.slider_link_box,
.slider_link {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.slider_link{
  height: 100%;
  outline: none;
}

.slider_link > img{
  height: 100%;
}

.slider_wrapp > .slick-slider > .slick-arrow{
  display: none !important;
}
