.news_slider_wrapp > .slick-slider > .slick-list > .slick-track > .slick-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.news_slider_wrapp > .slick-slider > .slick-list {
  padding: 20px 0 !important;
}

.news_slider_wrapp > .slick-slider > .slick-arrow {
  top: -80px !important;
}

.news_slider_wrapp > .slick-slider > .slick-prev {
  left: 92% !important;
}
.news_slider_wrapp > .slick-slider > .slick-next {
  right: 25px !important;
}

.news_slider_wrapp > .slick-slider > .slick-prev::before,
.news_slider_wrapp > .slick-slider > .slick-next::before {
  color: #df2027 !important;
  font-size: 35px !important;
}

.news_slider_wrapp
  > .slick-slider
  > .slick-dots
  > .slick-active
  > button::before {
  color: #df2027 !important;
  font-size: 20px !important;
}

.news_slider_wrapp > .slick-slider > .slick-dots > li > button::before {
  font-size: 16px !important;
  color: #df2027 !important;
}

@media only screen and (max-width: 1100px) {
  .news_slider_wrapp > .slick-slider > .slick-prev {
    left: 90% !important;
  }
  .news_slider_wrapp > .slick-slider > .slick-next {
    right: 25px !important;
  }
}

@media only screen and (max-width: 991px) {
  .news_slider_wrapp > .slick-slider > .slick-prev {
    left: 85% !important;
  }
  .news_slider_wrapp > .slick-slider > .slick-next {
    right: 40px !important;
  }
}

@media only screen and (max-width: 768px) {
  .news_slider_wrapp > .slick-slider > .slick-arrow {
    display: none !important;
  }
}
