.ourproduct_slider_wrapp > .slick-slider > .slick-arrow {
  display: none !important;
}

.ourproduct_slider_wrapp > .slick-slider > .slick-list {
  padding: 20px 0 !important;
}

.ourproduct_slider_wrapp
  > .slick-slider
  > .slick-dots
  > .slick-active
  > button::before {
  color: #df2027 !important;
  font-size: 20px !important;
}

.ourproduct_slider_wrapp > .slick-slider > .slick-dots > li > button::before {
  font-size: 16px !important;
  color: #df2027 !important;
}
