.NewsHero {
  background-image: url("../../assets/hero/6.png");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  margin-top: 145px;
  overflow-y: hidden;
  position: relative;
}

.NewsHero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1250px) {
  .NewsHero {
    /* padding: 0 20px; */
  }
}

@media only screen and (max-width: 991px) {
  .NewsHero {
    background-image: url("../../assets/hero/6.png");
    background-size: cover;
    background-position: center right;
    width: 100%;
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 578px) {
  .NewsHero {
    overflow-y: hidden;
    background-image: url("../../assets/hero/6.png");
    background-size: cover;
    background-position: center right;
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 425px) {
  .NewsHero {
    overflow-y: hidden;
    background-image: url("../../assets/hero/6.png");
    background-size: cover;
    background-position: center right;
  
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 375px) {
  .NewsHero {
    overflow-y: hidden;
    background-image: url("../../assets/hero/6.png");
    background-size: cover;
    background-position: right;
    background-position-x: -800px;
    width: 100%;
    margin-top: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
